:root {
    --main_text_color: #C4C4C4;

    --Black: #111115;
    --Green: #4B9200;
    --Orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --Yellow: #FFEE2E;
    --Black_blue: #333B41;
    --Gray: #767474;
    --Gray_smoky: #ABABAB;
    --Light_gray: #F1F3F2;
    --Frosted_glass_white: rgba(253, 253, 255, 0.52);
    --Rad: #D31414;
    --Pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --Orange_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

    --button_hover: #E47209;
    --button_activ: var(--Green);
    --button_disabled: var(--Gray);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Georgia, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--main_text_color);
}

h1, h2, h3, h4, ul, li {
    margin: 0;
}


h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 114px;
    line-height: 80%;
    text-transform: uppercase;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.smallParagraph {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.btn, .button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    border: 0;
}

.button {
    background: var(--Orange);
    color: #FFFFFF;
    width: 298px;
    height: 54px;
}

.button-rounded {
    border-radius: 25px;
}

.button-rectangle {
    border-radius: 5px;
}

.button:hover {
    background: var(--button_hover);
    cursor: pointer;
}

.button:active {
    background: var(--Green);
}

.button:disabled {
    background: var(--Gray);
}


.submit-button {
    width: 129px;
    height: 42px;

    color: #000;
    background: var(--Light_gray);

    border: 1px solid var(--Black_blue);
    border-radius: 5px;
}

.submit-button:active {
    color: var(--Green);
    border: 1px solid var(--Green);
}

.submit-button:invalid {
    color: var(--Rad);
    border: 1px solid var(--Rad);
}


.logo {
    position: relative;
    width: 82px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo a h1, .logo-bottom {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    text-transform: none;

    color: #FFFFFF;
}

.logo a {
    text-decoration: none;
}

.bamboo {
    position: absolute;

    top: 25px;
    left: 11px;
    height: 18px;
}

.social-logo:hover {
    filter: invert(34%) sepia(90%) saturate(1376%) hue-rotate(62deg) brightness(100%) contrast(102%);
}