body {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.container {
    width: 1160px;
    margin: 0 auto;
}

header {
    height: 470px;
    background: url('../../assets/images/Giant Panda.png') no-repeat center;
}

.menu {
    background: #000;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul li {
    list-style: none;
}


.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 1100px;
    margin: 0 auto;
}

.nav-links li {
    display: inline-block;
    padding: 0 29px;
}

.designed {
    float: right;
    margin-left: 300px;
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar a:hover, .highlighted {
    color: orange;
}

.fav {
    color: var(--Yellow)
}

.link-support-fund {
    color: var(--Black_blue);
    text-decoration-color: orange;
}

.centered {
    display: flex;
    justify-content: center;
}


footer {
    background: var(--Black);
    height: 443px;
}

.footer-container {
    padding: 40px 0 40px 0;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-col-1 ul {
    margin-left: -40px;
}

.footer-col-1 ul li {
    padding-top: 10px;
}


.footer-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.footer-col-2 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 58px;
}

.footer-col-2 a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-col-2 a:hover {
    color: orange;
}

.footer-col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 185px;
}

.footer-col-3 .email {
    background: var(--Black);
    margin-top: 14px;
}

.footer-designed {
    text-align: right;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

.email {
    width: 228px;
    height: 42px;

    color: #BDBDBD;

    border: 0.7px solid orange;
    border-radius: 2px;
}

.email:active {
    border: 0.7px solid var(--Green);
}

.email:invalid {
    border: 0.7px solid var(--Rad);
    color: var(--Rad);
}

.another-amount { /*TODO: dollar icon inside input */
    width: 268px;
    height: 54px;

    color: #FFF;

    border: 1px solid var(--Yellow);
    border-radius: 2px;
}

.another-amount:active {
    color: var(--Green);
    border: 1px solid var(--Green);
}

.another-amount:invalid {
    color: var(--Rad);
    border: 1px solid var(--Rad);
}

.arrow-elips { /*TODO: arrow icons inside */
    width: 62px;
    height: 62px;
    background: var(--Orange);
    border: 0;
    border-radius: 50%;
    color: #FFF;
}

.arrow-elips:active {
    background: var(--Green);
}

.plus-minus { /*TODO: + icon inside input */
    width: 54px;
    height: 54px;
    background: #FFFFFF;
    color: var(--Black_blue);
    border-radius: 5px;
}

.plus-minus:active {
    color: var(--Green);
    border: 1px solid #4B9200;
}

.link {
    color: var(--Green);
    /*text-decoration: none;*/
}

.link:active {
    color: var(--Orange);
}

.link-2 {
    color: #FFF;
    text-decoration: none;
    font-weight: 100;
    line-height: 130%;
}

.link-2:active {
    color: var(--Green);
    text-decoration: underline;
}

/*TODO card animations etc*/
.foto-card {
    width: 366px;
    height: 426px;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid orange; /* TODO: FIX TO ORANGE GRADIENT*/
}

.card-description {
    display: flex;

    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 14px;
}

.foto-card span {
    display: block;
}

.card-icon {
    height: 37px;
}

main {
    /*height: 1482px;*/
    width: 1600px;
    margin: 0 auto;
    padding-bottom: 180px;
}


.reopened {
    color: #FFFFFF;
    margin-top: 30px;
}

.description {
    color: #FFFFFF;
    margin-top: 10px;
}

.information {
    color: #FE9013;
    margin: 40px 0;
}

.pick-and-feed-donate {
    margin: 20px auto;
    padding: 40px 92px 62px 92px;
    /*height: 964px;*/
    width: 1160px;

    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);

    border-radius: 20px;

    color: #333B41;

}

.p-and-f {
    color: #FE9013;
    text-align: center;
}

.panda-widget {
    display: flex;
    justify-content: center;

}

.panda-img {
    width: 284px;
    height: 246px;
    display: block;
}

.for-a-day {
    width: 284px;
    height: 246px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.times {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
    margin: 0;

}

.diet {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #333B41;
    margin: 11px;
}

.donation {
    margin: 0 auto;
    text-align: center;
}

.donation > * {
    margin-top: 25px;
}

.amount {
    width: 268px;
    height: 54px;

    border: 1px solid #929699;
    border-radius: 2px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    background: transparent;

    background: url('../../assets/icons/Dollar.svg') no-repeat;
    background-position: calc(100% - 10px);


}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.amount-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #000000;
}

.form-control {
    margin: 0 25px;
}

.select-bg {
    width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.select-bg-inside {
    width: 915px;
    height: 2px;
    background: #72828E;
    margin: 0 auto;
}


.form-control input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffe6d5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FE9013;
}

.form-control input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FE9013;;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FE9013;
}


.bar {
    position: relative;
}

.bar * {
    margin: 0;
    padding: 0;
}

.amount-select-outside {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    top: -20px;
    left: -4px;
}

.amount-select {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.amount-select-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.amount-select-item, .amount-select-item * {
    cursor: pointer;
}

.amount-select-item {
    color: #333B41;
}

.amount-select-item:hover {
    color: #FE9013;
}

.amount-select-item label {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
}

.amount-select-item input {
    visibility: hidden;
    cursor: pointer;
    height: 0;
    width: 0;
}

.amount-select-item input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -2px;
    left: 16px;
    position: relative;
    background-color: #FFEE2E;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0 solid #FFEE2E;
}

/*.amount-select-item input[type='radio']:checked:after { !*todo dont chenge color when selected*!*/
/*    width: 12px;*/
/*    height: 12px;*/
/*    border-radius: 15px;*/
/*    top: -2px;*/
/*    left: 16px;*/
/*    position: relative;*/
/*    background-color: #FE9013;;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    visibility: visible;*/
/*    border: 2px solid #FE9013;*/
/*}*/

.inner-circle, .outer-circle {
    visibility: hidden;
    position: absolute;
    border: 1px solid #FE9013;
    border-radius: 50%;
    color: #FE9013;
}

.amount-select-item:hover * /*, .amount-select-item input[type='radio']:checked ~ *, .amount-select-item input[type='radio']:checked ~ * * */{
    visibility: visible;
}

.inner-circle {
    width: 22px;
    height: 22px;


    left: 8px;
    top: 8px;
}

.outer-circle {
    width: 40px;
    height: 40px;

    left: 2px;
    top: -13px;
}