body {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.panda {
    background: url('../../assets/images/Giant Panda.png') no-repeat center/cover;
    height: 386px;
}

@media screen and (min-width: 1000px) and (max-width: 1159px) {
    .panda {
        height: 391px;
    }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
    .panda {
        height: 370px;
    }
}

@media screen and (max-width: 639px) {
    .panda {
        height: 221px;
    }
}

/*REOPENED*/
.reopened {
    padding-top: 40px;
    padding-bottom: 60px;
}

.zoo-reopened {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

    margin-top: 10px;
}

.information {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;

    margin-top: 46px;
}

@media screen and (min-width: 1000px) and (max-width: 1159px) {
    .reopened {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }

    .zoo-reopened {
        padding-right: 100px;
    }

    .description {
        margin-top: 29px;
        margin-left: 1px;
    }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
    .reopened {
        padding: 30px 19px 30px 19px;
    }

    .zoo-reopened {
        padding-right: 0;

        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }

    .description {
        margin-top: 19px;
        margin-left: 0;
    }

    .information {
        margin-top: 29px;
    }
}

@media screen and (max-width: 639px) {
    .reopened {
        padding: 30px 10px 30px 10px;
    }

    .zoo-reopened {
        padding-right: 0;

        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }

    .description {
        margin-top: 21px;
        margin-left: 0;
        line-height: 138%;
    }

    .information {
        margin-top: 30px;
        font-size: 24px;
        line-height: 120%;
    }
}


/*END REOPENED*/
/* PICK AND FEED*/
.pick-and-feed-donate {
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    margin-top: 0;
    margin-bottom: 180px;

    padding: 40px 92px 62px 92px;

}

.paf-inside {
    margin: 0 auto;
    width: 976px;
    height: 862px;
}

.p-and-f {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;

    text-align: center;
    color: #FE9013;

    margin-right: 13px;
    margin-top: -1px;
}

.we-know-donate {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;

    margin-top: 20px;
}

.panda-widget {
    margin-top: 75px;
    margin-left: -14px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    position: relative;
}

.for-a-day {
    padding-top: 27px;
}

.cross {
    display: block;
    width: 14px;

    margin-left: 11px;
    margin-right: 64px;

}

.panda-img {
    display: block;
    width: 284px;
    height: 246px;

    position: relative;
    top: -14px
}

.times {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.diet {
    margin-top: 11px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;

    color: #333B41;
}

.amount-heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;

    margin-top: 33px;
    margin-left: 4px;
}


.temp {
    height: 82px;
    width: 991px;

    background: deeppink;
    margin-top: 10px;
}

.donation {
    margin: 19px auto 0 auto;
    text-align: center;
}


#amount {
    width: 268px;
    height: 54px;

    text-indent: 5px;

    border: 1px solid #929699;
    border-radius: 2px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    background: transparent;

    background: url('../../assets/icons/Dollar.svg') no-repeat;
    background-position: calc(100% - 10px);
}

#amount::-webkit-outer-spin-button,
#amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#amount {
    -moz-appearance: textfield;
}

.form-control input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffe6d5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FE9013;
}

.form-control input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FE9013;;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FE9013;
}

.freq {
    margin-left: 10px;
}

.radios, .share {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #333B41;
}

.radios {
    margin-top: 26px;

    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: -11px;
}

.button-feed {
    margin-top: 28px;
    margin-left: 10px;
}

.share {
    margin-top: 30px;
    margin-left: 5px;
}


/*AMOUNT BAR*/

.select-bg {
    width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.select-bg-inside {
    width: 915px;
    height: 2px;
    background: #72828E;
    margin: 0 auto;
}

.bar {
    position: relative;

    margin-top: 18px;
}

.bar * {
    margin: 0;
    padding: 0;
}

.amount-select-outside {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    top: -30px;
    left: -4px;
}

.amount-select {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.amount-select-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-top: 10px;
}

.amount-select-item, .amount-select-item * {
    cursor: pointer;
}

.amount-select-item {
    color: #333B41;
}

.amount-select-item:hover {
    color: #FE9013;
}

.amount-select-item label {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;

    margin-top: 12px;
}

.amount-select-item input {
    visibility: hidden;
    cursor: pointer;
    height: 0;
    width: 0;
}

.amount-select-item input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -2px;
    left: 16px;
    position: relative;
    background-color: #FFEE2E;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0 solid #FFEE2E;
}


.inner-circle, .outer-circle {
    visibility: hidden;
    position: absolute;
    border: 1px solid #FE9013;
    border-radius: 50%;
    color: #FE9013;
}

.amount-select-item:hover * {
    visibility: visible;
}


.selected {
    color: #FE9013;
}

.selected * {
    visibility: visible;
}


.inner-circle {
    width: 22px;
    height: 22px;


    left: 8px;
    top: 8px;
}

.outer-circle {
    width: 40px;
    height: 40px;

    left: 2px;
    top: -4px;
}

/*END AMOUNT BAR*/

@media screen and (min-width: 1000px) and (max-width: 1159px) {

    .pick-and-feed-donate {
        width: 940px;
        height: 918px;

        margin: 0 auto 30px auto;
        padding: 10px 47px 10px 47px;
    }

    .paf-inside {
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .p-and-f {
        margin-right: 13px;
        margin-top: 9px;
    }

    .we-know-donate {
        margin-top: 11px;
    }

    .amount-heading {
        margin-left: 18px;
    }

    #select-bar {
        margin-left: 18px;
    }

    .select-bg {
        width: 810px;
    }

    .select-bg-inside {
        width: 785px;
    }

    .amount-select-outside {
        width: 820px;
        left: -8px
    }

    .amount-select-item:first-child {
        display: none;
    }

}

@media screen and (min-width: 640px) and (max-width: 999px) {
    .pick-and-feed-donate {
        width: 600px;
        height: 918px;

        margin: 0 auto 44px auto;
        padding: 30px 0 30px 0;
    }

    .paf-inside {
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .p-and-f {
        margin-right: 0;
        margin-top: 0;
    }

    .we-know-donate {
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }

    .panda-widget {
        margin-top: 65px;
    }

    .amount-heading {
        margin-top: 25px;
        margin-left: 10px;
    }

    #select-bar {
        margin-left: 0;
        margin-top: 8px;
    }

    .select-bg {
        width: 600px;
    }

    .select-bg-inside {
        width: 524px;
    }

    .amount-select-outside {
        width: 570px;
        left: 0px
    }

    .amount-select-item:first-child, .amount-select-item:nth-child(2), .amount-select-item:nth-child(3) {
        display: none;
    }

    #amount {
        width: 180px;
        height: 42px;
    }

    .radios {
        margin-top: 31px;
        margin-left: -16px;
    }

    .button-feed {
        margin-left: 4px;
    }
}

@media screen and (max-width: 639px) {
    .pick-and-feed-donate {
        width: 300px;
        height: 591px;

        margin: 0 auto 21px auto;
        padding: 20px 0 20px 0;
    }

    .paf-inside {
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .p-and-f {
        margin-right: 0;
        margin-top: 0;

        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #FE9013;
    }

    .we-know-donate {
        margin-top: 9px;
        margin-left: 0;

        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;

        color: #333B41;
    }

    .panda-widget {
        margin-top: 22px;
        margin-left: -8px;
    }

    .for-a-day {
        padding-top: 16px;
    }

    .times {
        font-size: 40.6015px;
        line-height: 80%;
    }

    .diet {
        font-weight: 400;
        font-size: 9.02255px;
        line-height: 140%;
        margin-top: 6px;
    }

    .cross {
        width: 8px;
        height: 8px;
        margin-left: 6px;
        margin-right: 36px;
    }

    .panda-img {
        width: 151px;
        height: auto;
        margin-top: 3px;
    }

    .amount-heading {
        margin-top: -3px;
        margin-left: 0px;
    }

    #select-bar {
        margin-left: 0;
        margin-top: 8px;
    }

    .select-bg {
        width: 300px;
        height: 13.5px;
    }

    .select-bg-inside {
        width: 262px;
        height: 1px;
    }

    .amount-select-outside {
        width: 282px;
        left: -7px;
        top: -26px;
    }

    .amount-select-item:first-child, .amount-select-item:nth-child(2), .amount-select-item:nth-child(3) {
        display: none;
    }

    .amount-select-item label {
        font-size: 13px;

        margin-top: 2px;
    }

    .amount-select-item input[type='radio']:after {
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }

    .inner-circle {
        width: 11px;
        height: 11px;
        left: 4px;
        top: 4px;
    }

    .outer-circle {
        width: 21px;
        height: 21px;
        left: 8px;
        top: 10px;
    }

    .donation{
        margin-top: -2px;
    }


    #amount {
        width: 180px;
        height: 42px;
    }

    .radios{
        gap: 47px;
        margin-top: 27px;
        margin-left: -18px;
    }

    .button-feed {
        margin: 26px 0 0;
        width: 100%;
    }

    .share {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 29px -1px 0 0;
    }




}


/*END PICK AND FEED*/
@media screen and (min-width: 1000px) and (max-width: 1159px) {
    .footer-nav {
        gap: 48px;
        margin-left: 14px;
        margin-right: -55px;
    }
}

